@page "/"

<h1>Hello, world!</h1>

<p> networkstatus: @networkstatus </p>

<button @onclick="HandleSubmit" class="btncheck" style="margin-top:5px">Check Internet</button>


@{
    foreach (Book b in RetrievedBooks)

    {
        <p>Book Name: @b.Name</p>

    }
}

